import React from 'react';

interface {{pascalCase name}}Props {
  // Define here props of this Component
}

function {{pascalCase name}}(props: {{pascalCase name}}Props): React.ReactNode {
  const {
    // someProps
  } = props;

  return (
    <div className="bg-slate-500 w-full" >
      {{pascalCase name}} Component!
    </div>
  );
}

export default {{pascalCase name}};
